<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.eska.AlaaApp"
    versionCode="10"
    version   = "1.0.0">

  <name>Alaa First App</name>

  <description>
    For internal use only
  </description>

  <author href="https://build.phonegap.com" email="a.almasri@eskadenia.com">
    Alaa Almasri.
  </author>

    
  <!-- PLATFORMS --------------------------------------------------------------------------->
  <gap:platform name="ios" />
  <gap:platform name="android" />

    
  <!-- PLUGINS --------------------------------------------------------------------------->
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.file" />
 <gap:plugin name="org.apache.cordova.file-transfer" />
  <gap:plugin name="org.apache.cordova.inappbrowser" />
  <gap:plugin name="org.apache.cordova.network-information" />
  <gap:plugin name="org.apache.cordova.dialogs" />
  <gap:plugin name="org.apache.cordova.vibration" />
  <gap:plugin name="com.phonegap.plugins.pushplugin" />
  <gap:plugin name="nl.x-services.plugins.socialsharing" />
  <gap:plugin name="org.apache.cordova.media" />

    
  <!-- PREFERENCES --------------------------------------------------------------------------->
  <!-- Global -->
  <preference name="phonegap-version" value="3.3.0" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="handset" />
  <preference name="fullscreen" value="false" />
  <preference name="android-installLocation" value="auto" />
  <preference name="load-url-timeout" value="60000" />
  <preference name="permissions" value="none"/>
  <preference name="webviewbounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="disallowOverscroll" value="true" />
  <preference name="WebViewBounce" value="true" />
  <preference name="splash-screen-duration" value="0" />
  <preference name="SplashScreenDelay" value="0" />
  <preference name="AutoHideSplashScreen" value="true" />


  <!-- ACCESS -------------------------------------------------------------------------------->
  <access origin="*" />
</widget>
